<div *ngIf="display(info.queue_id)">
    <div class="container">
        <div class="box" (click)="moreInfo()" [ngStyle]="{'background-color':color}">
            <div class="block" [ngStyle]="{'background-color':colorRank}"></div>
            <div class="child">Game Type: {{gameType}} Placement: {{placement}}</div>
            
        </div>
    </div>
    <div *ngIf="clicked">
        <app-match-item
        *ngFor="let participant of p"
        [p1]="participant"
        [color] = "colorPlacement(participant)"
        [placement] = "boxColor(participant)">
        </app-match-item>
    </div>
</div>