<div class="container">
    <div>
        <h2>Displaying {{displayType}} games!</h2>
    </div>
    <div class="header">
        <div class="left">
            Name: {{summoner.name}}      
        </div>
        <div class="left">
            Level: {{summoner.summonerLevel}}
        </div>
        <div class="left">
            Current Rank: h{{leagueEntry.tier}}h
        </div>
    </div>
    <div class="empty"></div>
    <select name="filter" id="filter" class="right" [(ngModel)]="displayType" (change)="updateType()">
        <option value="all">All</option>
        <option value="ranked">Ranked</option>
    </select>
</div>
<div>
    <app-match
    [api] = "apitemp"
    *ngFor="let match of matches"
    [matchName]="match"
    [puuid] = "summoner.puuid"
    >
    </app-match>
</div>
<div>
    <a href="/">Back home</a>
</div>